<br />
<div>
    <div class="card" style="width: 100%">
        <div class="card-header text-center">
            <h3>Tanda #{{id_tanda}}</h3>
        </div>
        <div class="card-body">
            <table class="table text-center">
                <tr class="thead-dark">
                    <th scope="col">Id</th>
                    <th scope="col">Id Personalizada</th>
                    <th scope="col">Jefe</th>
                    <th scope="col">Linea</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Inicio</th>
                    <th scope="col">Fin</th>
                    <th scope="col">Kg Teoricos</th>
                    <th scope="col">Kg Reales</th>
                    <th scope="col">Eficiencia Kg (%)</th>
                    <th scope="col">Numero Incidencias</th>
                </tr>
                {{#each tanda}}
                <tr class="table-light">
                    <th scope="row">#{{id}}</th>
                    <td>{{id_personalizada}}</td>
                    <td>{{jefe}}</td>
                    <td>{{linea}}</td>
                    <td>{{producto}}</td>
                    <td>{{fechahora_inicio}}</td>
                    <td>{{fechahora_fin}}</td>
                    <td>{{kg_teoricos}}</td>
                    <td>{{kg_reales}}</td>
                    <td>{{eficiencia}}</td>
                    <td>{{num_incidencias}}</td>
                </tr>
                {{/each}}
            </table>
            <div class="d-flex justify-content-center">
                <a href="/tandas" class="btn btn-danger btn-lg">Atras</a>
            </div>
        </div>
    </div>
</div>
<br />
<h5>Incidencias</h5>
<table class="table text-center">
    <tr class="thead-dark">
        <th scope="col">Id Incidencia</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Hora Parada</th>
        <th scope="col">Hora Reinicio</th>
        <th scope="col">Minutos Perdidos</th>
    </tr>
    {{#if incidenciaRows}}
    {{#each incidenciaRows}}
    <tr class="table-light">
        <th scope="row">#{{id_incidencia}}</th>
        <td>{{descripcion}}</td>
        <td>{{hora_parada}}</td>
        <td>{{hora_reinicio}}</td>
        <td>{{minutos_perdidos}}</td>
    </tr>
    {{/each}}
    {{else}}
    <tr class="table-light">
        <th scope="row">-</th>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    {{/if}}
</table>
<br />
<h5>Pesos</h5>
<table class="table text-center">
    <tr class="thead-dark">
        <th scope="col">Id Tanda</th>
        <th scope="col">Producto</th>
        <th scope="col">Peso (g)</th>
        <th scope="col">Peso Neto (g)</th>
        <th scope="col">Peso Unidad (g)</th>
        <th scope="col">Hora</th>
    </tr>
    {{#if pesoRows}}
    {{#each pesoRows}}
    <tr class="table-light">
        <th scope="row">#{{id_tanda}}</th>
        <td>{{producto}}</td>
        <td>{{peso_cubeta}}</td>
        <td>{{peso_cubeta_neto}}</td>
        <td>{{unidad}}</td>
        <td>{{hora}}</td>
    </tr>
    {{/each}}
    {{else}}
    <tr class="table-light">
        <th scope="row">-</th>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    {{/if}}
</table>
<br />

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawVisualization);

    var datos = [['Hora', /*'Peso Neto',*/ 'Peso Unidad', {role: 'style'}]];
    let datosString = '{{ datos }}';
    var datosArray = datosString.split(",");

    let i = 1;
    let fila = [];
    let previo;
    datosArray.forEach(elemento => {
        if (i % 2 != 1) {
            elemento = Number(elemento);
            previo = elemento;
        }
        fila.push(elemento);
        if (i % 2 == 0) {
            if (previo <= 34.4) fila.push('#C8566B');
            else if (previo <= 35.9) fila.push('#F2D48F');
            else if (previo <= 37.6) fila.push('#9EC299');
            else if (previo <= 39.2) fila.push('#F2D48F');
            else fila.push('#C8566B');

            datos.push(fila);
            fila = []
        }
        i++;
    });

    function drawVisualization() {
        var data = google.visualization.arrayToDataTable(
            datos
        );
        var options = {
            title: 'Pesos por unidad (Tanda #{{id_tanda}})',
            vAxis: {
                title: 'Peso',
                viewWindowMode: 'explicit',
                viewWindow: { max: 42.5, min: 25 }
            },
            hAxis: { title: 'Hora' },
            seriesType: 'bars',
            colors: ['#C8566B', '#F2D48F', '#9EC299'],
            series: { 2: { type: 'line' } },
            legend: { position: 'none' },
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>
<div class="col-md-10 mx-auto" style="width: 100%;">
    <div id="chart_div" style="width: 895px; height: 500px;"></div>
    <table class="table text-center">
        <tr class="table-light">
            <th scope="row">Media: </th>
            <td>{{media}}</td>
            <th scope="row">||</th>
            <th scope="row">Varianza: </th>
            <td>{{varianza}}</td>
        </tr>
    </table>
</div>
<br />