{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/each}}

<br />
<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header text-center">
            <h3>Introducir Peso</h3>
            <h5>Tanda #{{id_tanda}}</h5>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <form action="/pesaje" method="POST">
                    <input type="hidden" name="id_tanda" value="{{id_tanda}}" />
                    <input type="hidden" name="codigo_semiterminado" value="{{codigo_semiterminado}}" />
                    <div class="form-group">
                        <input type="number" step="0.001" name="peso_cubeta" class="form-control" placeholder="Peso cubeta" min="0" max="1000" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-lg btn-block" type="submit">
                            Calcular y Enviar
                        </button>
                    </div>
                </form>
            </div>
            <hr />
            <div class="d-flex justify-content-center">
                <form action="/" method="GET">
                    <div class="form-group">
                        <button class="btn btn-danger btn-lg" type="submit">
                            Terminar y Volver
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br />
<!--
<div id="neto" class=""></div>
<script>
    pool.query('SELECT * FROM datos', (err, result) => {
        if (err) throw err;
        var datos = result;

        var num_unidades = datos[0].num_unidades;
        var peso_total_bobinas = datos[0].peso_total_bobinas;
        var peso_cubeta_c8231 = datos[0].peso_cubeta_c8231;
        var peso_bobina_cubeta_c8635 = datos[0].peso_bobina_cubeta_c8635;
        var peso_cubeta_neto = (peso_cubeta / 2) - peso_cubeta_c8231 - peso_total_bobinas - peso_bobina_cubeta_c8635;
        var unidad = peso_cubeta_neto / num_unidades;

        if (peso_cubeta_neto < 172.3) {

        }
    });
</script>-->

{{#if nRoj}}
<div class="alert alert-danger fade show" role="alert">
    Peso cubeta neto: {{peso_cubeta_neto}}
</div>
{{/if}}

{{#if nAma}}
<div class="alert alert-warning fade show" role="alert">
    Peso cubeta neto: {{peso_cubeta_neto}}
</div>
{{/if}}

{{#if nVer}}
<div class="alert alert-success fade show" role="alert">
    Peso cubeta neto: {{peso_cubeta_neto}}
</div>
{{/if}}

{{#if uRoj}}
<div class="alert alert-danger fade show" role="alert">
    Peso unidad: {{unidad}}
</div>
{{/if}}

{{#if uAma}}
<div class="alert alert-warning fade show" role="alert">
    Peso unidad: {{unidad}}
</div>
{{/if}}

{{#if uVer}}
<div class="alert alert-success fade show" role="alert">
    Peso unidad: {{unidad}}
</div>
{{/if}}