<br />
<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header text-center">
            <h3>Buscar Tanda</h3>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <form action="/tandas/buscar" method="POST">
                    <div class="input-group">
                        <input type="text" name="id_tanda" class="form-control" placeholder="Introduzca # o ID..." autofocus />
                        <button class="btn btn-success btn-lg" type="submit">
                            Buscar
                        </button>
                    </div>
                </form>
            </div>
            <hr />
            <div class="d-flex justify-content-center">
                <form action="/" method="GET">
                        <button class="btn btn-danger btn-lg" type="submit">
                            Atras
                        </button>
                </form>
            </div>
        </div>
    </div>
</div>
<br />
<table class="table text-center">
    <tr class="thead-dark">
        <th scope="col">Numero Tanda</th>
        <th scope="col">Id Tanda</th>
        <th scope="col">Jefe</th>
        <th scope="col">Linea</th>
        <th scope="col">Producto</th>
        <th scope="col">Inicio</th>
        <th scope="col">Fin</th>
        <th scope="col">Kg Teoricos</th>
        <th scope="col">Kg Reales</th>
        <th scope="col">Eficiencia Peso (%)</th>
        <th scope="col">Numero Incidencias</th>
        <th scope="col">Detalles</th>
    </tr>
    {{#if rows}}
        {{#each rows}}
        <tr class="table-light">
            <th scope="row">#{{id}}</th>
            <td>{{id_personalizada}}</td>
            <td>{{jefe}}</td>
            <td>{{linea}}</td>
            <td>{{producto}}</td>
            <td>{{fechahora_inicio}}</td>
            <td>{{fechahora_fin}}</td>
            <td>{{kg_teoricos}}</td>
            <td>{{kg_reales}}</td>
            <td>{{eficiencia}}</td>
            <td>{{num_incidencias}}</td>
            <td>
                <form action="/tandas/detalles:{{id}}" method="POST">
                    <input type="hidden" name="id_tanda" value="{{id}}" />
                    <button class="btn btn-primary btn-lg" type="submit">
                        <b>+</b>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    {{else}}
        <tr class="table-light">
            <th scope="row">-</th>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    {{/if}}
</table>
<br />